.rates-ppinfo{
  background-image: url("img/pprates1700.jpg");
  background-size: cover;
  background-repeat: no-repeat;

.forwhat-title{
  color: $mainred;
}
.forwhat-text{
  width: 100%;
}
}